---
layout: default
---

<div class="page clearfix" index>
    <div class="left">
        <ul>
            {% for post in paginator.posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
                    </div>
                    {% if post.author %}
                    <div class="label-card">
                        <i class="fa fa-user"></i>{{ post.author }}
                    </div>
                    {% endif %}
                    {% if page.meta %}
                    <div class="label-card">
                        <i class="fa fa-key"></i>{{ page.meta }}  
                    </div>
                    {% endif %}
                    {% if post.categories != empty %}
                    <div class="label-card">
                    {% include category.html %}
                    </div>
                    {% endif %}
                    {% if post.tags != empty %}
                    <div class="label-card">
                    {% include tag.html %}
                    </div>
                    {% endif %}
                </div>
                <div class="excerpt clearfix">
                    {{post.excerpt}}
                </div>
                <div class="read-all">
                    <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
              </li>
            {% endfor %}
        </ul>



        <!-- Pagination links -->
        <div class="pagination text-align">
          <div class="btn-group">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                  <a href="/" class="btn btn-outline">&laquo;</a>
              {% else %}
                  <a href="/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
              {% endif %}
            {% else %}
                
            {% endif %}
            {% if paginator.page == 1 %}
                <a href="javascript:;" class="active btn btn-outline">1</a>
            {% else %}
                <a href="/"  class="btn btn-outline">1</a>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
              {% if count == paginator.page %}
                  <a href="javascript:;"  class="active btn btn-outline">{{count}}</a>
              {% else %}
                  <a href="/page{{count}}"  class="btn btn-outline">{{count}}</a>
              {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <a href="/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
            {% else %}
                
            {% endif %}
            </div>
        </div>

    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">
            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    最近更新
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Content -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    分类
                </div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    标签
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    友情链接
                </div>
                <ul  class="content-ul" link>
                    {% for link in site.data.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
