<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class="power">
            <span>
                Copyright © 2017 <a href="https://github.com/MelonTeam" title="GitHub">MelonTeam <i class="fa fa-github" aria-hidden="true"></i></a>. All Rights Reserved.
            </span>
        </p>
    </div>
</footer>

{% if site.ta_id %}
<script type="text/javascript" src="http://tajs.qq.com/stats?sId={{site.ta_id}}" charset="UTF-8"></script>
{% endif %}

